<footer class="footer-background">
  <aside>
    <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
  </aside>
  <div class="footer-container">
    <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> Subscribe!</span></a>
    <h4 class="footer_h4">ЯрБуксир - служба эвакуации</h4>
    <p class="footer__p">Мы оказываем услуги эвакуации с 2005 года. Обладаем профессиональной командой, отличной техникой и огромным опытом. Спект услуг не ограничивается эвакуаций легковых автомобилей и грузовой техники. Звоните к нам круглосуточно. Будем рады сотрудничеству.</p>
    <h4 class="footer_h4">Вызвать эвакуатор - контакты</h4>
    <p class="footer__p">Адрес: г. Ярославль, ул.Тутаевское шоссе д.62 к.3</p>
    <p class="footer__p">E-mail: yarbuksir@yandex.ru</p>
    <p class="footer__p">Телефон: (4852) 91-76-76</p>
    <p class="footer__p">Телефон: 8 (902) 331 76-76</p>
    <h4 class="footer_h4">Мы в социальных сетях</h4>
    <p class="footer__p social_networks">
      <a href="https://www.facebook.com/yarbuksir76" class="social_networks__item"><i class="fa fa-facebook-official"></i></a>
      <a href="http://www.youtube.com/channel/UCkvTpEeFZfkaDVA849_glyQ" class="social_networks__item"><i class="fa fa-youtube"></i></a>
      <a href="https://twitter.com/yarbuksir" class="social_networks__item"><i class="fa fa-twitter"></i></a>
      <a href="https://plus.google.com/+YarbuksirRu" class="social_networks__item"><i class="fa fa-google-plus"></i></a>
      <a href="https://vk.com/yarbuksir" class="social_networks__item"><i class="fa fa-vk"></i></a>
    </p>
  </div>
</footer>
