<header class="header--fixed">
  <div class="masthead">
    <div><a href="/" class="masthead__logo"> ЯрБуксир</a></div>
    <div>
      <a href="tel:+79023317676" class="header__phone">
        <span>Телефон: </span>
        <!-- <i class="fa fa-phone"></i> -->
        <span>91-76-76</span>
        <span>8 (902) 331 76-76</span>
      </a>
    </div>
  </div>

  <amp-sidebar id='sidebar' layout="nodisplay" side="left" class='sidebar-menu'>
    <div class='close black'></div>
    <ul>
      <li>
        <a class='link' href="/">Главная</a>
      </li>
      <li>
        <a class='link' href="/грузовой-эвакуатор">
          <amp-fit-text width="220" height="20" layout="responsive" max-font-size="24">
            Грузовой эвакуатор
          </amp-fit-text>
        </a>
      </li>
      <li>
        <a class='link' href="/эвакуатор-легковых-автомобилей">
          <amp-fit-text width="220" height="20" layout="responsive" max-font-size="24">
            Легковой эвакуатор
          </amp-fit-text>
        </a>
      </li>
      <li>
        <a class='link' href="/манипулятор-ярославль">
          <amp-fit-text width="220" height="20" layout="responsive" max-font-size="24">
            Манипулятор
          </amp-fit-text>
        </a>
      </li>
      <li>
        <a class='link' href="/видео">
          <amp-fit-text width="220" height="20" layout="responsive" max-font-size="24">
            Видео
          </amp-fit-text>
        </a>
      </li>
      <!-- <li>
        <a class='link' href="/цены">
          <amp-fit-text width="220" height="20" layout="responsive" max-font-size="24">
            Цены
          </amp-fit-text>
        </a>
      </li> -->
      <li>
        <a class='link' href="/контакты">
          <amp-fit-text width="220" height="20" layout="responsive" max-font-size="24">
            Контакты
          </amp-fit-text>
        </a>
      </li>
      <li>
        <a class='link' href="/журнал">
          <amp-fit-text width="220" height="20" layout="responsive" max-font-size="24">
            Журнал
          </amp-fit-text>
        </a>
      </li>
      <li>
        <a class='link' href="/о-компании">
          <amp-fit-text width="220" height="20" layout="responsive" max-font-size="24">
            О компании
          </amp-fit-text>
        </a>
      </li>
    </ul>
  </amp-sidebar>

  <a tabindex="0" class="navButton" on='tap:sidebar.toggle'>&#9776;</a>

</header>
