<header class="header--fixed">
  <div class="masthead">
    <div><a href="/" class="masthead__logo"> ЯрБуксир</a></div>
    <div>
      <a href="tel:+79023317676" class="header__phone">
        <span>Телефон: </span>
        <!-- <i class="fa fa-phone"></i> -->
        <span>91-76-76</span>
        <span>8 (902) 331 76-76</span>
      </a>
    </div>
  </div><a tabindex="0" class="navButton">&#x2630;</a><span tabindex="0" class="navClose">&#x2630;</span>
  <button class="navFrame">
    <nav id="main-sections-nav" class="sitenav">
      <ul id="sections-menu-off-canvas" class="side-nav">
        <li class="main-nav has-sub"><a href="/грузовой-эвакуатор" class="main-nav-item">Грузовой эвакуатор</a></li>
        <li class="main-nav has-sub"><a href="/эвакуатор-легковых-автомобилей" class="main-nav-item">Легковой эвакуатор</a></li>
        <li class="main-nav has-sub"><a href="/манипулятор-ярославль" class="main-nav-item">Манипулятор</a></li>
        <li class="main-nav has-sub"><a href="/видео" class="main-nav-item">Видео</a></li>
        <li class="main-nav has-sub"><a href="/цены" class="main-nav-item">Цена</a></li>
        <li class="main-nav has-sub"><a href="/контакты" class="main-nav-item">Контакты</a></li>
        <li class="main-nav has-sub"><a href="/журнал" class="main-nav-item">Журнал</a></li>
        <li class="main-nav has-sub"><a href="/о-компании" class="main-nav-item">О компании</a></li>
      </ul>
    </nav>
  </button>
  <button id="navscrim"></button>
</header>
