body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  position: relative;
  background: rgba(51,51,51,0.05);
}
.kicker {
  font-size: 14px;
  margin: 12px auto;
  color: #2C6CB4;
}
.kicker a {
  text-decoration: none;
}
.byline {
  font-size: 12px;
  line-height: 1.1em;
  color: #5a5a5a;
  margin-bottom: 4px;
}
.date {
  font-size: 12px;
  line-height: 1.1em;
  margin-bottom: 20px;
  color: #5a5a5a;
}

.intro {
  display: block;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.1em;
  color: #2a2a2a;
}
.author {
  font-size: 14px;
  margin-bottom: 32px;
  color: #6e6e6e;
  line-height: 1.3em;
}


.social-tools-wrapper {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #cecece;
  border-radius: 3px;
  margin-bottom: 32px;
  text-align: center;
}


iframe {
  border-style: none;
}
