.masthead {
  width: 100%;
  display: block;
  padding-top: 8px;
  padding-bottom: 3px;
  text-align: center;
  background-color: #3F51B5;
  position: relative;
  z-index: 3;
  color: white;
}
.masthead__logo {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.header__phone {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .masthead {
    margin-bottom: 5%;
  }
}
.header--fixed {
  transition: all 0.4s ease;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
