.navButton {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  line-height: 1.5em;
  text-align: left;
  display: block;
  padding: 5px 0 0 10px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.navButton:focus {
  opacity: 0;
}

.sidebar-menu .close {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  overflow: hidden;
  top: 15px;
  left: 225px;
  cursor: pointer;
}
.sidebar-menu .close:hover::before, .sidebar-menu .close:hover::after {
  background: #1ebcc5;
}
.sidebar-menu .close::before, .sidebar-menu .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
}
.sidebar-menu .close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sidebar-menu .close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sidebar-menu .close.black::before, .sidebar-menu .close.black::after {
  height: 3px;
}

.sidebar-menu {
  width: 250px;
  padding-right: 10px;
  background-color: #3F51B5;
}

.sidebar-menu li {
  margin-bottom: 20px;
  list-style: none;
}

.sidebar-menu .link {
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  color: #f7f7f7;
  text-decoration: none;
  width: 100%;
  border-radius: 4px;
}
